.about-paragraph {
  width: 250px;
  font-size: 1rem;
}

.creator-list {
  list-style: none;
  padding-left: 10px;
  list-style-type: none;
}

.creator-list li::before {
  content: "📌 ";
}

.content {
  height: 100%;
}

.full-plant-bg {
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  color: grey;
}

@media (max-width: 1257px) {
  .about-paragraph {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .about-paragraph {
    width: 350px;
  }
}

@media (max-width: 362px) {
  .about-paragraph {
    width: 95%;
  }
}
