.full-plant-bg-signup {
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }

.form-signup {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 50px;
    display: block;
    resize: none;
}

.signUpHeader {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.signup-inputs {
    width: 100%;
    margin-bottom: 10px;
}

.signup-input {
  display: block;
  line-height: 2em;
  margin: 0;
  padding-left: 10px;
  width: 100%;
  font-size: medium;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
}

.signup-input::placeholder {
    color: gray;
}

.signup-label {
  display: block;
  /* bottom: 3rem; */
  opacity: 1;
  color: gray;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s ease-in-out transform;
}

.signup-input-btn {
    width: 100%;
    background-color: #00CC33;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    opacity: 0.7;
}

.signup-input-btn:hover {
    opacity: 1;
}

.error-msg {
    color: red;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.login {
    text-align: center;
}

.signupImage {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.loginLink {
    font-size: 22px;
    color: darkgreen;
}

.loginLink:hover {
    text-decoration: underline;
    font-weight: bolder;
}