.customOverlay {
  background: rgba(0, 0, 0, 0.5);
}

.customModal {
  /* background: linear-gradient(317deg, rgba(102,184,94,1) 0%, rgba(185,214,114,1) 100%); */
  background: white;
  max-width: 700px;
  width: 95%;
  border-radius: 5px;
}

.followModal {
  /* background: linear-gradient(317deg, rgba(102,184,94,1) 0%, rgba(185,214,114,1) 100%); */
  background: white;
  max-width: 400px;
  width: 95%;
  border-radius: 5px;
}

.image {
  background-size: cover;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  padding: 0;
  margin: 0;
  background-image: none !important;
  height: 0px;
}
