.editOverlay {
  background: rgba(0, 0, 0, 0.5);
}

.editModal {
  /* background: linear-gradient(317deg, rgba(102,184,94,1) 0%, rgba(185,214,114,1) 100%); */
  background: white;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}

.followModal {
  /* background: linear-gradient(317deg, rgba(102,184,94,1) 0%, rgba(185,214,114,1) 100%); */
  background: white;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}

.image {
  background-size: cover;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  padding: 0;
  margin: 0;
  background-image: none !important;
  height: 0px;
}

.error {
  color: red;
}

.outer_flex_box {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.flex-item-left {
  flex: 25%;
}

.flex-item-right {
  flex: 75%;
}

@media (max-width: 500px) {
  .editModal {
    max-width: 250px;
    margin-left: 0;
    margin-right: 0;
  }

  .followModal {
    max-width: 250px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .flex-item-right {
    flex: 75%;
  }

  .flex-item-left {
    flex: 100%;
  }

  .editModal {
    max-width: 300px;
  }

  .followModal {
    max-width: 300px;
  }
}
